@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
}
/*animation*/
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(169, 52, 161) 8%, rgb(41, 142, 225) 38%, rgb(39, 218, 206) 58%,rgb(244, 217, 63) 68%,rgb(237, 124, 31) 78%, rgb(228, 77, 155) 88%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(255, 253, 253, 0.293);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

/*animation ends*/
:root {
    
    --second-bg-color: #26b58f;
    --text-color: rgb(255, 255, 255);
    --second-color:rgb(27, 1, 6);
    --main-color:#0b0107;
    --big-font: 65px;
    --h2-font: 60px;
    --p-font: 30px;
}

body {
   
    color: var(--text-color);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}




header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}



span {
    color: var(--main-color);
}
.dp{
    color: yellow;
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover {
    color: var(--main-color);
}

/* .navlist a.active {
    color: var(--main-color);
} */

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section {
    padding: 160px 15% 120px;
}
/* Container Class */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Home Section Styling */
  .home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  }
  
  
  .home-section h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: white;
  }
  
  
  .home-section h2 {
    font-size: 45px;
    color: white;
    margin-bottom: 15px;
  }
  
  .home-section p {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
  }

  
.btn {
    display: inline-block;
    padding: 12px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all .45s ease;
}

.btn:hover {
    transform: scale(0.9);
}
    
.about-section {
    padding: 80px 20px;
    text-align: center;
  }
  
.about-section .container {
  max-width: 800px;
  margin: 0 auto;
}
  
  .about-section h2 {
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .about-section p {
    font-size: 20px;
    line-height: 1.6;
    color: white;
    margin-bottom: 20px;
  }

.main-text {
    text-align: center;
}

.main-text p {
    color: var(--second-color);
    font-size: 20px;
    margin-bottom: 60px;
}

.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.skills-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.box {
    background: var(--bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}

.s-icons i {
    font-size: 35px;
    margin-bottom: 20px;

}

.box h3 {
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}

.box p {
    color: var(--second-color);
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 25px;
}

.box:hover {
    transform: translateY(-8px);
    /* cursor: pointer; */
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

   
.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    
}

.row img {
    width: 100%;
    max-width: 450px;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    max-width: 470px;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #ed36ad);/*#00a6ff*/
    position: absolute;
    border-radius: 8px;
    left: 1.3px;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    transition: height 0.5s;
}

.layer h5 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.layer p {
    color: white;
    font-size: 1rem;
    line-height: 1.8;
    font-weight: bold;
}

.layer i {
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.row:hover img {
    transform: scale(1.1);

}

.row:hover .layer {
    height: 100%;
}
/* start Services */

.services{
    
    text-align: center;
    
}
.services .boxs .box{
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px rgba(128, 112, 22, 0.2);
    position: relative;
    top: 0;
}
.services .boxs .box:hover{
    top: -25px;
}
.services .boxs .box i{
    color: #ffaa17;
    font-size: 50px;
    margin-bottom: 500px;
}
.services .boxs .box h3{
    color: #1c1e22;
    font-size: 24px;
    margin-bottom: 20px;
}
.services .boxs .box p{
    color: #444;
    margin-bottom: 50px;
}
.sec-top h2{
    font-size: var(--h2-font);
    line-height: 1;

}


/*  Certications*/
.certificates
{
    text-align: center;
}
.top h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

/* contact */

.contact-section {
    padding: 80px 20px;
    text-align: center;
  }
  
  .contact-section .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .contact-section h2 {
    font-size: 60px;
    margin-bottom: 20px;
    
  }
  
  .contact-section p {
    font-size: 18px;
    line-height: 1.6;
    color: black;
  }
  
  .contact-info p {
    margin: 10px 0;
  }
  
  .contact-info a {
    color: white;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
.end {
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
   
}

.last-text p {
    color: var(--second-color);
    font-size: 18px;

}

.top i {
    padding: 14px;
    border-radius: 9.5px;
    font-size: 18px;
    color: var(--text-color);
   
}

@media (max-width: 1480px) {
    header {
        padding: 12px 2.5%;
        transition: .1s;
    }

    section {
        padding: 110px 3% 60px;
    }

    .end {
        padding: 15px 3%;
    }
}
@media (max-width: 1100px){
    :root{
        --big-font:4rem;
        --h2-font:2.5rem;
        --p-font:1rem;
        transition: .1s;
    }
    .home-text h3{
        font-size: 2.5rem;
    }
    .home{
        height: 87vh;
    }
}
@media (max-width:920){
    .about{
        grid-template-columns: 1fr;

    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .contact{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 480px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        
        text-align: left;
        transition: all .45s ease;

    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);

    }
    .navlist a:hover{
        color: var(--main-color);
    }
    navlist a.active{
        color: var(--text-color);
    }
    .navlist.open{
        top: 100%;
    }
}
